<!-- <div class="menu">
  <app-left-menu #leftmenu></app-left-menu>
</div> -->

<div class="container-fluid main">
  <section id="hero" class="d-flex align-items-center">
    <div
      class="container text-center position-relative"
      data-aos="fade-in"
      data-aos-delay="200"
    >
      <br /><br /><br /><br />
      <h2 class="font-weight-light">Welcome {{ userLogged.nome }}</h2>
      <br />
      <h3 class="introMin">
        We are team of talented designers making websites with Networky
      </h3>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
</div>
