<p>post works!</p>
<ng-container>
  <div class="container-fluid">
    <div class="row col-12 offset-3">
      <ul class="nav navbar-expand">
        <button type="button" class="btn btn-primary">CREATE</button>
        <button type="button" class="btn btn-secondary">UPDATE</button>
        <button type="button" class="btn btn-danger">DELETE</button>
      </ul>
    </div>
    <br /><br />
    <div class="row col-12 offset-3">
      <div class="card">
        <!-- id, descrizione, categoria (img) -->

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
              <th scope="col">Descrizione Post</th>
              <th scope="col">Commenti</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of userPost">
              <th scope="row">2</th>
              <td>{{ post.categoria }}</td>
              <td>{{ post.descrizione }}</td>
              <td>3</td>
              <td>
                <button class="btn btn-secondary">View</button>
                <button class="btn btn-secondary">Edit</button>
                <button class="btn btn-secondary btn-danger">X</button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <!--  colspan="2" -->
              <td>'Promozione'</td>
              <td>'Solo per oggi ma a partire da domani'</td>
              <td>14</td>
              <td>
                <button class="btn btn-secondary">Edit</button>
                <button class="btn btn-secondary btn-danger">X</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<!--  form con input desc, menu tend categoria, upload img -->7

<!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"
/>

<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Create template modal
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template> -->
