// .card-body {
//   margin-right: 16.666667%;
// }

.img-profile {
  top: 48px;
}

.dropdown {
  margin-top: 10%;
}

.text-box {
  top: 50px;
}

.dropdown {
  position: inherit;
}

.card-profile {
  background-color: whitesmoke;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // max-width: 300px;
  // margin: auto;
  text-align: center;
  width: 450px;
  height: 550px;
  top: 300px;
  // top: 30px;
  // box-shadow: 300px 300px 30px #dedede;
}

.post-btn {
  width: 20%;
}

.img {
  background: "./assets/stock-images/pexels.jpg";
}

.profile-data {
  align-self: center;
  width: auto;
}

.info-text {
  color: white;
}

.main-body {
  margin-right: 16%;
}

.menu {
  position: sticky;
  top: 50px;

  //   //   margin-inline-start: auto;
  //   padding-left: 2px;
}
