<!--  elementi dentro box sono rientrati a sx -->

<div class="customWidthHeight customBackground">
  <div class="customPosition customWidthHeight container">
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <div class="loginbox row mb-3">
        <img src="./assets/stock-images/gruppo-scai.png" class="avatar" />
        <br />
        <div class="customPosition hero" style="align-items: center;">
          <div>
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
          </div>
          <div class="row mb-3">
            <a class="text-white-50 col-sm-10" routerLink="/login">
              Already registered? Sign in!
            </a>
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              required
              email
            />
            <div class="form-text" [hidden]="!errore">Bad credentials!</div>
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              required
              password
            />
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              formControlName="nome"
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Cognome</label>
            <input
              type="text"
              class="form-control"
              formControlName="cognome"
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Data di nascita</label>
            <input
              type="date"
              class="form-control"
              name="ddn"
              formControlName="ddn"
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="country">Country:</label><br />
            <select name="country" formControlName="country" required>
              <option value="Italy">Italy</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Spain">Spain</option>
              <option value="England">England</option>
            </select>
          </div>

          <br />
          <div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="formRegister.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </div>
</div>
<!-- </div> -->
