<div class="customWidthHeight customBackground">
  <div class="customPosition customWidthHeight container">
    <!-- <app-authentication></app-authentication> -->
    <!-- <div class="customPosition customWidthHeight"> -->
    <!-- <div class="hero"> -->
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <div class="loginbox">
        <img src="./assets/stock-images/gruppo-scai.png" class="avatar" />
        <br />
        <div class="customPosition hero">
          <h1 class="h3 mb-4 fw-normal">Please sign up</h1>
          <div class="row mb-3">
            <a class="text-white-50 col-sm-10" routerLink="/login">
              Already registered? Sign in!
            </a>
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              ngModel
              required
              email
            />
            <div class="form-text" [hidden]="!errore">Bad credentials!</div>
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              #password="ngModel"
              ngModel
              required
              password
            />
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              #nome="ngModel"
              ngModel
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Cognome</label>
            <input
              type="text"
              class="form-control"
              name="cognome"
              #cognome="ngModel"
              ngModel
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <label class="form-label">Data di nascita</label>
            <input
              type="date"
              class="form-control"
              name="ddn"
              #ddn="ngModel"
              ngModel
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="country">Country:</label><br />
            <select name="country" #country="ngModel" ngModel required>
              <option value="Italy">Italy</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Spain">Spain</option>
              <option value="England">England</option>
            </select>
          </div>

          <br />
          <div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="formRegister.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </div>
</div>
<!-- </div> -->
