<app-navbar></app-navbar>
<div class="container">
    <form #f="ngForm" (ngSubmit)="updateUserDetails(f)">
        <br>
        <h2>Update your personal info</h2>
        <br>
        <div class="mb-3">
            <label class="form-label">Nome</label>
              <input
                type="text"
                class="form-control"
                name="nome"
                #nome="ngModel"
                ngModel
                required>
          </div>
          <br>
          <div class="mb-3">
            <label class="form-label">Cognome</label>
              <input
                type="text"
                class="form-control"
                name="cognome"
                #cognome="ngModel"
                ngModel
                required>
          </div>
          <br>
          <div class="mb-3">
            <label class="form-label">Data di nascita</label>
              <input
                type="date"
                class="form-control"
                name="ddn"
                #ddn="ngModel"
                ngModel
                required>
          </div>
          <br>
          <div class="mb-3">
              <label for="country">Country:</label><br>
              <select name="country" #country="ngModel" ngModel required>
                <option value="Italy">Italy</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Spain">Spain</option>
                <option value="England">England</option>
              </select>
          </div>
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Name</h6> -->
          <!-- <div class="col-sm-9 text-secondary"> -->
            <!-- /{{ toUpdateUserDetail.nome}} -->
          <!-- </div> -->
          <!-- <input
          type="text"
          class="form-control"
          name="nome"
          #nome="ngModel"
          ngModel
          required>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Surname</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ toUpdateUserDetail.cognome }}
            </div>
          </div>
          <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Birthday</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ toUpdateUserDetail.dataDiNascita }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Country</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ toUpdateUserDetail.country }}
          </div>
        </div>
      </div>
    </div> -->
    <br>
    <button
    type="submit"
    class="btn btn-primary"
    [disabled]="f.invalid">Save update</button>
</form>
</div>