<!-- <div
  class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto"
  style="background-image: url('assets/stock-images/bg-01.jpg')"
>
  <app-authentication></app-authentication>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="formSignIn" (ngSubmit)="onSubmit()">
    <div class="card-group">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="mb-3">
        <label>
          <h6 class="form-label">Email Address</h6>
        </label>
        <input
          class="mb-4"
          type="email"
          name="email"
          placeholder="Enter a valid email address"
          formControlName="email"
          required
        />
        <div class="form-text" [hidden]="!errore">Bad credentials!</div>
      </div>
      <br />
      <div class="mb-3">
        <label class="form-label">
          <h6 class="mb-0 text-sm">Password</h6>
        </label>
        <input
          type="password"
          name="password"
          placeholder="Enter password"
          formControlName="password"
          required
        />
      </div>
      <div class="row px-3 mb-4">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            id="chk1"
            type="checkbox"
            name="chk"
            class="custom-control-input"
          />
          <label for="chk1" class="custom-control-label text-sm"
            >Remember me</label
          >
        </div>
        <a href="#" class="ml-auto mb-0 text-sm" routerLink="/reset-password"
          >Forgot Password?</a
        >
      </div>
      <div class="row mb-3 px-3">
        <button
          type="submit"
          class="btn btn-blue text-center"
          [disabled]="formSignIn.invalid"
        >
          Login
        </button>
      </div>
      <div class="row mb-4 px-3">
        <small class="font-weight-bold"
          >Don't have an account?
          <a class="text-danger" routerLink="/sign-up">Register</a>
        </small>
      </div>
    </div>
  </form> -->

<!-- <div class="form-group form-check"></div> -->
<!-- <a routerLink="/reset-password">Forgot password?</a>
        </div>
        <br />
        <button
          type="ngSubmit"
          class="btn btn-primary"
          [disabled]="formSignIn.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div> -->
<!-- </div> -->
<div class="customWidthHeight">
  <app-authentication></app-authentication>
  <div class="customPosition customWidthHeight container">
    <form [formGroup]="formSignIn" (ngSubmit)="onSubmit()">
      <div class="customPosition">
        <div>
          <h2>Please sign-in</h2>
        </div>
        <br />
        <!-- cercatrre snippet codice con card elaborata, la incollo qui imettendo le mie cose ed è fatto -->
        <div>
          <a class="text-danger" routerLink="/sign-up">
            Don't have an account? Sign up!
          </a>
        </div>

        <br />
        <div>
          <h5>Email:</h5>
          <input
            type="email"
            class="form-control"
            placeholder="Enter a valid email address"
            formControlName="email"
            required
          />
          <div class="form-text" [hidden]="!errore">Bad credentials!</div>
        </div>
        <br />
        <div>
          <h5>Password:</h5>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            formControlName="password"
            required
          />
        </div>

        <br />

        <div>
          <a routerLink="/reset-password">Forgot password?</a>
        </div>

        <br />

        <div>
          <button type="ngSubmit" class="btn-outline-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
