<mat-card class="card card-post pointer mat-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <br />
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <br>
  <img
    mat-card-image
    class="pointer mat-card-image ng-lazyloaded"
    src="/assets/stock-images/pexels.jpg"
  />
  <!-- src="data:image/png;base64,{{ post.imgPost }}" -->
  <div class="card-footer">
    <div class="card-body" pointer>
      <mat-card-content>
        <p>{{ post.categoriaPost }}</p>
        <p>{{ post.descrizionePost }}</p>
        <p>{{ post.idUser }}</p>
      </mat-card-content>
    </div>
  </div>
  <mat-card-actions>
    <button type="button" class="btn btn-light">LIKE</button>
    <button type="button" class="btn btn-light">SHARE</button>
  </mat-card-actions>
</mat-card>
