<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid offset-2">
    <!-- <a
      class="navbar-brand offset-1 mr-3"
      href="https://www.grupposcai.it"
      >Scai</a
    > -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse row navbar-collapse" id="navbarSupportedContent">
      <!--  -->

      <ul class="navbar-nav col-12 me-auto mb-2 mb-lg-0">
        <div class="row col-6">
          <li class="nav-item">
            <a
              class="nav-link active mr-3"
              aria-current="page"
              href="#"
              style="margin: 10px"
              routerLink="/home"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active mr-3"
              aria-current="page"
              href="#"
              routerLink="/profile"
              style="margin: 10px"
            >
              Profile
            </a>
          </li>
        </div>
        <div class="row col-6">
          <form class="d-flex ml-auto">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              style="margin: 10px"
              aria-label="Search"
            />
            <button class="btn btn-success" type="submit" style="margin: 10px">
              Search
            </button>
          </form>
          <li class="logout nav-item">
            <span class="navbar-brand"></span>
            <a
              class="btn btn-danger right mr-10 me-2 navbar-right"
              (click)="logout()"
              style="margin: 10px"
            >
              Logout
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
