.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-brand {
  align-items: initial;
}

.btn {
  color: #ffffff;
}

.nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.d-flex {
}

.logout {
  // margin-left: 150px;
}
