.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.icon-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    // margin-left: 100%;
}

.icon-dropdown-menu {
  position: absolute;
  top: 50%;
  // right: 0;
  transform: translateY(-50%);
  margin-left: 20%;
}

.row {
  height: inherit;
  margin-left: 5%;
}

.navbar-brand {
  align-items: initial;
}

.btn {
  color: #ffffff;
}

.nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-form-field {
  width: 200px;
}

