.left-menu-text {
  font-size: 22px;
}

mat-list-item-content {
  font-size: 22px;
}

mat-list-item {
  font-size: 22px;
}

mat-nav-list {
  font-size: 22px;
}

.prova {
  font-size: 22px;
}

a {
  font-size: 22px;
}

// .example-container {
//   display: flex;
//     flex-direction: column;
//     color: #FFF;
//     height: 100%;
//   }
//  .example-sidenav {
//    flex: 1;
//  }
