.left-menu-text {
  font-size: 22px;
}

mat-list-item-content {
  font-size: 22px;
}

mat-list-item {
  font-size: 22px;
}

mat-nav-list {
  font-size: 22px;
}

.prova {
  font-size: 22px;
}

a {
  font-size: 22px;
}
