<!-- <app-header></app-header> -->
<div class="container form-container" >
<app-authentication></app-authentication>
  <form #f="ngForm" (ngSubmit)="resetPassword(f)">

    <div class="mb-3">

      <div class="form-group">
        <br>
        <label class="inputEmail">Email</label>

        <input type="text" class="form-control" id="accountEmail" 
        name="accountEmail" ngModel required #accountEmail="ngModel" />

      </div>

      <div class="form-group">
        <br>
        <label for="inputPassword">Old Password</label>

        <input type="password" class="form-control" id="inputOldPassword"
               name="oldPassword" ngModel required #oldPassword="ngModel" />

      </div>

      <div class="form-group">
        <br>
        <label for="inputPassword">New Password</label>

        <input type="password" class="form-control" id="inputPassword"
               name="newPassword" ngModel required #newPassword="ngModel" />

      </div>
        <div class="form-group">
          <label for="inputPasswordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" name="newConfirmedPass" ngModel
            required #newConfirmedPass="ngModel" />
        </div>
               <div class="form-group form-check">
        <button 
        type="submit" 
        class="btn btn-primary" 
        [disabled]="f.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
