<div class="container form-container" >
  <app-authentication></app-authentication>
    <form #f="ngForm" (ngSubmit)="signIn(f)">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="mb-3">
          <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email address"
              #email="ngModel"
              ngModel
              required>
          <div class="form-text" [hidden]="!errore">Bad credentials!</div>
        </div>
        <br>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            #password="ngModel"
            ngModel
            required>
        </div>
        <br>
        <div class="btn-link">
          <!-- <div class="form-group form-check"></div> -->
        <a routerLink="/reset-password">Forgot password?</a>
        </div>
        <br>
        <button
        type="submit"
        class="btn btn-primary"
        [disabled]="f.invalid">Submit</button>
      </form>
</div>
 <!-- comment to test git from vsc   -->
