<app-navbar></app-navbar>
<div class="container">
    <div class="main-body">
    
      <br>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">

                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Welcome {{ user.nome }}</h4>
                      <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                      <br>
                      <button class="btn btn-outline-primary" style="margin: 5px;" routerLink="/update-user-details">Update Info</button>
                      <button class="btn btn-outline-secondary" style="margin: 5px;" routerLink="/reset-password">Reset Password</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.nome}} {{ user.cognome }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Birthday</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.dataDiNascita }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.country }}
                    </div>
                  </div>
                  <!-- <hr> -->
                  <!-- <div class="row">
                      <div class="col-sm-3">
                          <h6 class="mb-0">Image</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          {{ user.image }}
                      </div>
                  </div> -->
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>