// .card-body {
//   margin-right: 16.666667%;
// }

.card {
  box-shadow: 10px 10px 5px #dedede;
  background-color: rgba(61, 190, 147, 0.205);
}
.img {
  background: "./assets/stock-images/pexels.jpg";
}

.main-body {
  margin-right: 16%;
}

// .card-left-menu {
//   //   margin-inline-start: auto;
//   padding-left: 2px;
// }
