<div class="container-fluid main">
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
            <br><br><br><br>
            <h1 class="intro">Welcome to the Homepage</h1>
            <h2 class="introMin">We are team of talented designers making websites with Bootstrap</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
</div>