<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->
<div class="container-fluid main">
    <!-- <div class="bg"></div> -->
    <!-- <img id="preview" class="preview-desktop" src="C:\Users\roberto.perrini\Desktop\networky-frontend\pexels-aleksandar-pasaric-325185.jpg" frameborder="0"> -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
            <br><br><br><br>
            <h1 class="intro">Welcome to the Homepage</h1>
            <h2 class="introMin">We are team of talented designers making websites with Bootstrap</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->
</div>